[submodule "DSA-journey"]
	path = DSA-journey
	url = https://github.com/TanviDeore/DSA-journey.git
[submodule "SelectionSort"]
	path = SelectionSort
	url = https://github.com/TanviDeore/SelectionSort
[submodule "Heap_Implementation"]
	path = Heap_Implementation
	url = https://github.com/TanviDeore/Heap-Implementation
