[submodule "DSA-journey"]
	path = DSA-journey
	url = https://github.com/TanviDeore/DSA-journey.git
[submodule "SelectionSort"]
	path = SelectionSort
	url = https://github.com/TanviDeore/SelectionSort
